#search-result {
  display: none;
}

.input-area {
  padding-left: 30%;
}

body {
  font-family: Andale Mono;
  background-color: #ebf6ff;
}

table {
  display: none;
}

.table {
  width: 500px;
}

.btn {
  margin-left: 20%;
  background-color: #639ad4;
  color: white;
}

.results-panel {
  border-radius: 2px;
  width: 580px;
  background-color: #fafcfc;
  margin-left: 25%;
}
